body {
    background: url("../images/concrete_seamless.png");
}

/* this is for the about screen */

#tag {
    margin-top: 30px;
    margin-bottom: 30px;
}

#navname {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

.img-thumbnail {
    max-width: 200px;
    max-height: 250px;
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.float-right-one {
    background-color: #4aaaa5;
    margin-left: 300px;
    padding: 20px;
}

.float-right-two {
    background-color: #4aaaa5;
    margin-left: 300px;
    padding: 20px;
}